.main {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.ingredients,
.ingredientGroup {
    & > ul {
        margin-left: 1rem;
        padding-inline-start: 1rem;
    }
}

.steps,
.notes {
    & > ol {
        margin-left: 1rem;
        padding-inline-start: 1rem;
    }
}